@import "tailwindcss";

*{
    font-family: 'Bahnschrift';
}

html{
    background-color: black;
    background-image: url("/brand/waves-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    color: white;
}

input[type="search"],input[type="text"],input[type="email"],input[type="password"]{
    box-shadow: inset 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

/* WAVES SIGN */
#waves-sign{
    background: linear-gradient(to right, #13e3ff, #03fca9);
    font-weight: 400;
  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* BUTTON STYLE */
button{
    padding: 6px 15px 6px 15px;
    border-radius: 12px;
    background-color: rgb(14, 14, 14);
    opacity: 0.9;
    transition-duration: 200ms;
}

button:hover{
    cursor: pointer;
    translate: 0px -1px;
    opacity: 1;
    transition-duration: 200ms;
    filter: drop-shadow(0px 5px 4px rgb(0, 0, 0));
}

/* SCROLLBAR STYLE */
#chat-message-container {scrollbar-color: transparent;}
#chat-message-container ::-webkit-scrollbar {width: 0px}
#chat-message-container ::-webkit-scrollbar-track {background: transparent}
#chat-message-container ::-webkit-scrollbar-thumb {background: transparent}
#chat-message-container ::-webkit-scrollbar-thumb:hover {background: transparent}